{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3>{% if object %}Editar{% else %}Crear{% endif %} Usuario</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>

                        {% if not object %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.password1|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.password2|as_crispy_field }}
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-4">
                                {{ form.position|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.organization_level|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.boss|as_crispy_field }}
                            </div>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                            <a href="{% url 'user_list' %}" class="btn btn-secondary me-md-2">
                                <i class="fas fa-times me-1"></i> Cancelar
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save me-1"></i> Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% block extra_js %}
<script>
$(document).ready(function() {
    // Actualizar jefes disponibles según nivel organizacional seleccionado
    $('#id_organization_level').change(function() {
        const levelId = $(this).val();
        if (levelId) {
            $.ajax({
                url: '{% url "get_bosses_for_level" %}',
                data: {
                    'level_id': levelId
                },
                success: function(data) {
                    $('#id_boss').html(data);
                }
            });
        } else {
            $('#id_boss').html('<option value="">---------</option>');
        }
    });
});
</